#app {
    margin: 100px 400px;
    text-align: center;
}

h1, h2 {
    font-family: 'SF Mono', 'Cascadia Code', 'consolas', 'Courier New', Courier, monospace;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 20px;
}

.item {
    margin-top: 10px;
}

.output {
}
